header {
    background-color: rgb(168, 168, 168);
    padding: 20px 0px;
}

main {
    background: linear-gradient(rgb(226, 226, 226), rgb(189, 189, 189));
    box-shadow: inset 0px 0px 20px #000000;
}

body {
    font-family: 'Outfit', sans-serif;
}

h2:before {
    content: "- ";
}

h2:after {
    content: " -";
}

h2 {
    text-shadow: 3px 3px 1px #f1f1f1
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin: 0px 4px;
}

nav a:hover {
    color:blueviolet;
    text-decoration: underline;
}

div.box {
    position: relative;
    width: 940px;
    margin: 15px auto;
}

ul.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

p.descricao {
    font-size: 18px;
} 

/*-----------------------css index-----------------------*/

h2.titulosobre {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 5px 0 1em 0;
    color: black;
}

img.utensilios {
    width: 120px;
    float: left;
    margin: 0 1em 1em 0;
}

section.principal {
    margin: 2em auto;
    width: 930px;

}

section.principal p {
    padding-bottom: 1em;
    text-align: left;
}

section.principal strong {
    font-weight: bold;
}

section.principal em {
    font-style: italic;
}

section.mapa {
    width: 930px;
    margin: 1em auto;
}

section.mapa p {
    text-align: center;
    margin: 0 0 2em 0;
}

section.beneficios {
    clear: left;
    width: 640px;
    margin: 2em auto 4em auto;
}

h2.titulobeneficios {
    font-size: 1.7em;
    text-align: center;
    font-weight: bold;
    margin: 2em 0 1em 0;
}

li.itensbeneficios {
    text-align: left;
    line-height: 2.5em;
    font-size: 1em;
}

.itensbeneficios:before {
    content: "★ ";
}

.itensbeneficios:nth-child(2n) {
    font-weight: bold;
}

.itensbeneficios {
    text-shadow: 1px 1px 1px #f1f1f1;
}

.listabeneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.imagembeneficios {
    width: 60%;
}

div.video {
    display: inline-block;
    width: 465px;
    margin: 0 auto;
}

div.videos {
    width: 930px;
    margin: 0 auto;
}


.testeimg {
    display: inline;
    margin: 0 auto;
    width: 230px;
}

ul.produtos h2 {
    font-size: 30px;
    font-weight: bold;
    width: 230px;
}

ul.produtos li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 30%;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;  /**para nosso padding se comportar de acordo com a % do widht*/
    border: 3px #000000 solid;
    border-radius: 10px 25px 10px 25px;
}

ul.produtos li:hover {
    border-color: blueviolet;
}

ul.produtos li:active {
    border-color: blue;
}

ul.produtos li:hover h2 {
    font-size: 32px;
    transition: 0.3s all;
}

p.preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
    width: 230px;
}

form {
    width: 930px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 2em 0;
}

.input-padrao {
    display: block;
    margin: 10px;
    margin-bottom: 30px;
    padding: 15px 10px;
    width: 50%;
}

form label, form p {
    display: block;
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
}

.labelmenor {
    font-size: 18px;
    font-weight: normal;
}

.newsletter {
    padding: 10px 0;
}

select {
    display: block;
    text-align: center;
    width: 490px;
    font-size: 20px;
    margin: 10px;
    padding: 8px 0;
    font-weight: normal;
}

.input-submit {
    display: block;
    margin: 10px;
    margin-bottom: 30px;
    padding: 15px 10px;
    width: 490px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
}

.input-submit:hover  {
    background-color: rgb(92, 23, 156);
    transition: 0.8s;
    cursor: pointer;
    transform: scale(1.05);
}

fieldset {
    display: block;
    margin: 10px;
    width: 490px;
    font-size: 20px;
}

fieldset legend {
    padding-top: 10px;
    font-weight: bold;
}

fieldset select {
    margin: 7px 0 auto;
    padding-left: 8px;
}

table {

}

thead {
    background-color: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

.banner {
    width: 100%;
}

table {
    width: 930px;
    margin: 0 auto;
}

p.copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}

footer {
    text-align: center;
    background: url(assets/bg.jpg);
    padding: 40px; 
}

@media screen and (max-width: 480px) {
    div.box, section.mapa, section.principal, section.beneficios, div.videos, div.video {
        width: auto;
    }
}